<% book.post_comments.each do |post_comment| %>
          <table>
            <tr>
              <td>
                <%= link_to user_path(book.user) do %>
          　       <%= attachment_image_tag(book.user, :profile_image, :fill, 100, 100, fallback: "no-image-icon.jpg") %><br>
                  <%= book.user.name %>
                <% end %>
              </td>
              <td><%= post_comment.comment %></td>
              <% if post_comment.user == current_user %>
                <td><%= link_to "Destroy", book_post_comment_path(post_comment.book, post_comment), method: :delete, remote: true, class: 'btn btn-sm btn-danger' %></td>
              <% end %>
            </tr>
          </table>
      <% end %>